body {
  background-image: url(https://i.pinimg.com/736x/74/d0/86/74d0864d32f2abe4a4bee6fdfddcaf73.jpg);
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.card {
  background-image: url(https://i.pinimg.com/originals/9c/e9/22/9ce922ce0848a20b0be58a4e7643063f.gif);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.about-me {
  margin-bottom: 40px;
}
.flex-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.dni, .likes-dislikes {
  flex: 1 1 300px;
}
ul {
  margin: 1px 0 10px 20px;
}
.accounts {
  margin-top: 15px;
  font-weight: 600;
}
.accounts span {
  cursor: pointer;
  color: #836fa9;
  text-decoration: underline;
}
.accounts span:hover {
  color: #4b3f6b;
}

.accounts a {
  color: #000000; 
  text-decoration: underline;
  cursor: pointer;
  margin: 0 5px;
}
